*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loading__gif{
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between;
}


.listado__estaciones{
    width: 50%;
    background-color: rgb(226, 226, 226);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    padding-top: 20px;
    overflow-y: scroll;
}

.listado__loading{
    width: 50%;
    background-color: rgb(226, 226, 226);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    padding-top: 20px;
    overflow-y: scroll;
}

.resumen__empresas{
    max-height: 100vh;
    width: 50%;
    position: fixed;
    right:0;
    overflow-y: scroll;
}

.station__card{
    width: 350px;
}

.network__card{
    width: 500px;
    max-width: 100%;
}


.green{
    color: green;
    font-weight: bold;
}

.button__toast{
    position: fixed;
    left: 16px;
}

.blue{
    color: rgb(49, 119, 177);
    font-weight: bold;
}

.red{
    color: rgb(177, 74, 79);
    font-weight: bold;
}

@media (max-width: 1080px) {

    .listado__loading, .listado__estaciones{
        width: 100%;
    }

    .resumen__empresas{
        width: 10%;
        transition: all 1s;
    }

    .toast-container{
        width: 300px;
    }

    .help__msg{
        visibility: hidden;
    }

    .resumen__empresas:hover{
        width: 50%;
        transition: all 1s;
    }
}

