*{
    margin: 0;
    box-sizing: border-box;
}

.loading__gif{
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between;
}


.listado__estaciones{
    width: 50%;
    background-color: rgb(226, 226, 226);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    padding-top: 20px;
    overflow-y: scroll;
}

.listado__loading{
    width: 50%;
    background-color: rgb(226, 226, 226);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    padding-top: 20px;
    overflow-y: scroll;
}

.resumen__empresas{
    max-height: 100vh;
    width: 50%;
    position: fixed;
    right:0;
    overflow-y: scroll;
}

.station__card{
    width: 350px;
}

.network__card{
    width: 500px;
}


.green{
    color: green;
    font-weight: bold;
}

.button__toast{
    position: fixed;
    left: 16px;
}

.blue{
    color: rgb(49, 119, 177);
    font-weight: bold;
}

